ul {
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}

.completado {
    text-decoration: line-through;
    color: grey;
    font-style: italic
}
.nocompletado {
    color: blue;
    font-style: bold
}